body{
    font-family: 'Gemunu Libre', sans-serif;
    background: url("../img/pattern-background-desktop.svg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.contenedor{
    width: 450px;
    height: 615px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
}

#img{
    border-radius: 10px 10px 0px 0px;
}


h4{
    font-size: 22px;
    font-weight: bold;
    color: rgb(12, 12, 151);
}

.contenedor-texto{
    padding-left:50px ;
    padding-right: 50px;

}
.center{
    text-align: center;
    color: rgb(151, 148, 148);
    font-size: 14px;
}

.fondo2{
display: flex;
align-items: center;
background-color: rgba(242, 240, 252, 0.699);
justify-content:flex-start;
margin: 20px;
height: 50px;
padding: 10px;
border-radius: 10px;
}

.fondo2 a{
    font-size: 12px;
}

.junto{
    line-height: 1%;
    text-align: left;
    margin-left: 20px;
    margin-right: 105px;
}

.junto h5{
    color: rgb(1, 1, 187);
    font-weight: bold;
    font-size: 16px;
}

.junto p{
    font-size: 14px;
}

.fondo3{
    margin: 20px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

.boton1{
background-color: #382ae1;
padding-top: 5px;
padding-bottom: 5px;
color: #fff;
border-radius: 5px;
height: 40px;
width: 100%;
border: none;
box-sizing: 1px 1px 1px 1px grey;
cursor: pointer;
margin-bottom: 20px;
box-shadow: 1px 1px 11px -2px #383838;
}

.boton2{
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(106, 116, 151);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    border: none;
    box-sizing: 1px 1px 1px 1px grey;
    cursor: pointer;
    box-shadow: 1px 1px 11px -2px #eeeeee;
    
}

